# .env.example
DATABASE_URL="postgresql://user:password@localhost:5432/finance_db?schema=public"

# Docker specific (used by docker-compose.yml)
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=finance_db

JWT_SECRET=
EXCHANGERATE_API_KEY=
NODE_ENV="development"
DEEPSEEK_API_KEY=
